-# checkout cart linkage

= link_to "Checkout", @cart.paypal_url(products_url, payment_notifications_url )

- # for encryption, replace simple link above with a form to be POSTed

- form_tag APP_CONFIG[:paypal_url] do
  = hidden_field_tag :cmd, "_s-xclick"
  = hidden_field_tag :encrypted, @cart.paypal_encrypted(products_url, payment_notifications_url(:secret => APP_CONFIG[:paypal_secret]))
  %p
    = submit_tag "Checkout"
