-# checkout cart linkage

- form_tag APP_CONFIG[:gateway_url] do
  = hidden_field_tag :cmd, "_s-xclick"
  = hidden_field_tag :encrypted, @cart.encrypted_subscription_form(return_url, payment_notifications_url(:secret => APP_CONFIG[:gateway_secret]))
  %p
    = submit_tag( image_tag( "https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribe_LG.gif", {:alt => "PayPal - The safer, easier way to pay online!"} ) )
